* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Raleway', sans-serif;
}

html {
    scroll-behavior: smooth;
}

:target {
    scroll-margin-top: 20px;
}