.image {
    background-image: url("../../img/anime2.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover ;
    height: 550px;
    padding-top: 90px;
}