.main-subtitle {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 40px;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 30px;
}

.main-subtitle.-shoyo {
    font-size: 25px;
    font-family: 'Fira Code';
    color: #fff;
    text-align: center;
    margin-bottom: 40px;
    font-weight: 700;
}
}